@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    color: white; 
}

body{
    background-color: #2c2c2c;
    font-family: "Montserrat Subrayada", serif;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    
}
ul{
    display: flex;
    list-style-type: none;

}
ul li a{
    margin: 0 5px 5px;
    border: 2px solid white;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 50px;
}

.logo{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    padding: 10px 5px;
    background-image: url(upiter.png);
    background-size: cover;
    
}
.signup{
    background-color: white;
    color: black;
}
.signup:hover{
    background-color: black;
    color: white;
}
main{
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 150px;
    flex-wrap: wrap;
}
main h2{
    font-size: 30px;
    text-transform: uppercase;
}
main p{
    font-size: 15px;
    font-weight: 200;
    line-height: 31.5px;
    margin: 30px 30px;
}
.left{
    flex: 1;
}
.middle{
    flex: 2;
}
.right{
    flex: 1;
}
.jup{
    max-width: 500px;
    height: auto;
}
.btn{
    padding:15px 30px;
    background-color: white;
    outline: none;
    border: none;
    color: black;
    border-radius: 50px;
    font-weight: 700;

}
.btn:hover{
    background-color: #2c2c2c;
    color: white;
    border: 2px solid white;

}