*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    height: 20px;
    width: 70px;
    border-radius: 20px;
    background-color: #f08804;
}
input{
    height: 30px;
    border-radius: 30px;
    color: black;
    font-size: 15px;
}

#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 250px;
    text-decoration: none;
}