div{
    height: 100px;
    width: 100px;
    background-image: url("CAT.jpg");
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 50px;
}