p{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 20px;
    line-height: 30px ;
    text-transform: uppercase;
}
h1{
    text-align: start  ;
    text-decoration: red wa vy underline;
}
a{
    text-decoration: none;
    font-size: 100px;
    
}