div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#Box1{
    background-image: url("cat.jpg");
    background-size: contain;
}